RewriteEngine On
RewriteBase /LAB-BA/

# Jika file atau folder ada, biarkan akses langsung (untuk assets/ vendor/)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Semua permintaan lainnya diarahkan ke index.php, dengan path sebagai variabel 'url'
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]